---
import { Icon } from "astro-icon/components";

const socialLinks = [
	{
		friendlyName: "GitHub",
		link: "https://github.com/vkulionis",
		name: "mdi:github",
	},
];
---

<div class="flex flex-wrap items-end gap-x-2">
	<p>Find me on</p>
	<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
		{
			socialLinks.map(({ friendlyName, link, name }) => (
				<li class="flex">
					<a class="hover:text-link inline-block" href={link} rel="noreferrer" target="_blank">
						<Icon aria-hidden="true" class="h-8 w-8" focusable="false" name={name} />
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
